
/* CSS Document */

/* General Styles */

body,
td,
th,
p,
ul,
li{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	color: #666;
	line-height: 1.5;
}


body {
	background-color: #f3f3f3;
	margin: 0;
	position: relative;
}


a {
	color: #fff;
	text-decoration: none;
}


a:hover,
a:focus {
	color: #1da1f2;
	text-decoration: none;
}


/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
  padding: 1em;
}


nav h1 {
  margin: auto;
  font-size: 1.25em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}


nav h1 a {
  color: #fff; 
}


#breadcrumb {
  padding: 10px 40px 10px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  width: 100%;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.15);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none; 
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}



/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
}

#map-container {
  position: relative;
  z-index: 1;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.15);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.filter-options h2 {
  color: #444;
  padding: 10px 10px 0px;
  letter-spacing: 1px;
}


.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  border-radius: 3px;
  font-family: Arial,sans-serif;
  font-size: 15px;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}


.filter-options label {
  width: 0;
  height: 0;
  overflow: hidden;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


#restaurants-list li {
  background-color: #fff;
  font-family: Arial,sans-serif;
  margin: 20px 10px;
  min-height: 380px;
  padding: 0 0 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  width: 350px;  
}


#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}


#restaurants-list li h1 {
  color: #000;
  font-family: Arial,sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}


#restaurants-list p {
  margin: 0;
  font-size: 15px;
}


#restaurants-list li button {
  background-color: orange;
  border: 1px solid orange;
  color: #000;
  padding: 15px 30px;   /* <-- here */
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 15px;
  letter-spacing: 2px;
}


#restaurants-list li button:hover {
  color: #fff;
  cursor: pointer;
}


/* ====================== Restaurant Details ====================== */
#restaurant-name {
  color: #666;
  font-family: Arial,sans-serif;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: left;
  background-color: #f3f3f3;
  text-transform: uppercase;
  padding: 5px;
}


#restaurant-img {
	width: 100%;
}


#restaurant-address {
  font-size: 16px;
  padding: 10px 10px 0;
  color: #0275d8;
}


#restaurant-hours {
  width: 100%;
  padding: 0.5em 1em 1em 1em;
}


#restaurant-cuisine {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 10px;
  margin-top: 10px;
  padding: 2px 0;
  text-transform: uppercase;
}


#restaurant-container {
  width: 100%;
  margin: 20px;
}


#restaurant-list {
  background-color: #fff;
  text-align: center;
  width: 350px;
}


#reviews-container {
  padding: 15px;
  width: 100%;
  padding: 40px 0 80px;
}


#reviews-container h2 {
  color: #0275d8;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 20px;
}


#reviews-header {
  display: flex;
  justify-content: space-between;
}

#reviews-list {
  margin: 0;
  padding: 0;
}


#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
  position: relative; 
}


#reviews-list li p {
  margin: 0 0 10px;
  font-size: 16px;
}


#restaurant-hours td {
  font-size: 16px;
}


#reviews-list li, #restaurant-list {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
} 


#footer {
  background-color: #444;
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Review Form ====================== */
#modal {
  /* position: absolute;
  left: 10vh;
  top: 10vh; */
  /* fix exactly center: https://css-tricks.com/considerations-styling-modal/ */
  /* begin css tricks */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* end css tricks */
  /* z-index: -10; */
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 60%;
  /* height: 80vh; */
  border: 1px solid #666;
  border-radius: 5px;
  opacity: 0;
  transition: all .3s;
  overflow: hidden;
  background-color: #fff;
  visibility: hidden;
  display: flex;
}
#modal.show {
  visibility: visible;  
  opacity: 1;
  /* z-index: 10; */
  /* display: flex; */
}
.modal-overlay {
  width: 100%;
  height: 100%;
  z-index: 2; /* places the modalOverlay between the main page and the modal dialog */
  background-color: #000;
  opacity: 0;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  margin: 0;
  padding: 0;
}
.modal-overlay.show {
  display: block;
  opacity: 0.5;  
}
#modal .close-btn {
  align-self: flex-end;
  font-size: 1em;
  margin: 8px 8px 0;
  padding: 0 8px;
  cursor: pointer;
}
form {
  max-width: 900px;
  padding: 0 20px 20px 20px;
}
input,
select,
.rate,
textarea,
button {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #e1e1e1;
  font-size: 16px;
  padding: 8px;
}
input[type="radio"] {
  box-shadow: none;
}
button {
  min-width: 48px;
  min-height: 48px;
}
button:hover {
  border: 1px solid #ccc;
  background-color: #fff;
}
button#review-add-btn, 
button.close-btn, 
button#submit_review_btn {
  min-height: 40px;
}

button#review-add-btn {
  margin-right: 20px;
  color: #fff;
  background-color: #666;
  font-size: 14px;
  cursor: pointer;
}

button#submit_review_btn {
  color:#fff;
  cursor: pointer;
  padding: 0 16px;
  background-color: #0275d8;;
}

.fieldset {
  margin-top: 20px;
}
.right {
  align-self: flex-end;
}
#review_form_container {
  width: 100%;
  /* background-color: #eee; */
  padding: 0 20px 26px;
  color: #333;
  overflow-y: auto;
}
#review_form_container h2 {
  margin: 0 0 0 3px;
  padding-bottom: 5px;
}
#review_form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
#review_form label, #review_form input {
  display: block;
  /* width: 100%; */
}
#review_form label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 2px;
}

#review_form .rate label, #review_form .rate input,
#review_form .rate1 label, #review_form .rate1 input {
  display: inline-block;
}
/* Modified from: https://codepen.io/tammykimkim/pen/yegZRw */
.rate {
  height: 36px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-end;
  width: 150px;
}
#review_form .rate > label {
  margin-bottom: 0;
  margin-top: -5px;
  height: 30px;
  font-size: 30px;

}
#reviewName,
#reviewComments {
  width:90%;
}
.rate:not(:checked) > input {
  /* position: absolute; */
  top: -9999px;
  margin-left: -24px;
  width: 20px;
  padding-right: 14px;
  z-index: -10;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label::before {
  content: '★ ';
  position: relative;
  top: -10px;
  left: 2px;
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate > input:checked:focus + label, .rate > input:focus + label {
  outline: -webkit-focus-ring-color auto 5px;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
#submit-review {
  align-self: flex-end;
}
#offline {
  position: fixed;
  align-self: center;
  justify-self: center;
  top: -120px;
  background-color: #f3df84;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  padding: 10px 16px;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 400px;
  /* transition: visibility .3s ease-in-out, top .3s ease-in-out 1s; */
  transition: top .3s ease-in-out 1s;
}
#offline.show {
  top: 0;
}
#offline h3 {
  margin: 0 0 6px;
}
#offline p {
  margin: 0 0 10px;
}


/* ====================== Media Querries ====================== */

@media screen and (max-width: 400px) {
  
  #restaurant-hours td,
  #restaurant-address {
    font-size: 14px; 
  }


  #restaurant-list {
    width: 100%;
    margin: 0;
  }

}


@media screen and (max-width: 670px) {
  .filter-options {
    flex-direction: column;
  }


  .filter-options select {
    width: 250px;
  }


  .filter-options select {
    margin-top: 5px
  }

  #modal {
    width: 80%
  }
}



@media screen and (min-width: 670px) {
  .inside {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80px 50px auto auto 50px;
    grid-template-areas: 
      "header header"
      "title title"
      "map map"
      "aside sidebar"
      "footer footer";
  }

  #nav {
    grid-area: header;
  }

  #breadcrumb {
    grid-area: title;
  }

  #map-container {
    grid-area: map;
  }

  #restaurant-container {
    grid-area: aside; 
  }

  #reviews-container {
    grid-area: sidebar;
  }

  #footer {
    grid-area: footer;
  }
}




@media screen and (min-width: 1024px) {
    
  #restaurant-container {
    margin-left: 30px;
  }


  #reviews-container {
    margin-right: auto; 
  }
}